name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x

    - name: Install dependencies
      # If your package.json is in the root, use ./
      # If it's in a folder, use that folder name
      run: npm install
      working-directory: ./

    - name: Run tests
      run: npm test || echo "Skipping tests"
      working-directory: ./
